@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

input[type=checkbox] {
    @apply text-green-500 ring-green-600 outline-green-500 rounded-full mr-3;
}

.bg-gradient-gray {
    @apply bg-gradient-to-b from-slate-900 via-slate-700 to-slate-900;
}

.button-success {
    @apply disabled:opacity-50 disabled:cursor-default capitalize inline-flex items-center px-2 py-2.5 border border-transparent shadow text-center text-xs font-semibold rounded-md text-white dark:text-green-200 bg-green-600 dark:bg-green-700 dark:hover:bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500;
}

.button-danger {
    @apply disabled:opacity-50 disabled:cursor-default capitalize inline-flex items-center px-2 py-2.5 border border-transparent shadow text-xs font-medium rounded-md text-white dark:text-red-200 bg-red-600 dark:bg-red-700 dark:hover:bg-red-800 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}

.button-secondary {
    @apply disabled:opacity-50 disabled:cursor-default capitalize inline-flex items-center px-2 py-2.5 border border-transparent shadow text-xs font-semibold rounded-md text-slate-100 dark:text-slate-400 bg-slate-700 dark:bg-slate-800 dark:hover:bg-slate-700 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500;
}

.button-warning {
    @apply disabled:opacity-50 disabled:cursor-default capitalize  inline-flex items-center px-2 py-2.5 border border-transparent shadow text-xs font-medium rounded-md text-white dark:text-yellow-200 bg-yellow-600 dark:bg-yellow-700 dark:hover:bg-yellow-800 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500;
}

.link {
    @apply text-green-700 dark:text-green-200 dark:text-green-600 dark:hover:text-green-800 hover:text-green-700 text-xs font-bold
}

.link-alt {
    @apply text-slate-600 dark:text-slate-300 hover:text-slate-700 dark:hover:text-slate-600 text-xs font-bold
}
