@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

[x-cloak] {
    display: none !important;
}

input[type=checkbox] {
    @apply text-sky-500 ring-sky-600 outline-sky-500 rounded-full mr-3;
}


.button-success {
    @apply rounded-md bg-sky-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus-visible:outline dark:focus-visible:outline-2 dark:focus-visible:outline-offset-2 dark:focus-visible:outline-sky-500 disabled:opacity-50 capitalize transition-colors duration-300 ease-in-out;
}

.button-danger {
    @apply rounded-md bg-rose-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-rose-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus-visible:outline dark:focus-visible:outline-2 dark:focus-visible:outline-offset-2 dark:focus-visible:outline-rose-500 disabled:opacity-50 capitalize transition-colors duration-300 ease-in-out;
}

.button-secondary {
    @apply rounded-md bg-slate-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600 dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus-visible:outline dark:focus-visible:outline-2 dark:focus-visible:outline-offset-2 dark:focus-visible:outline-slate-500 disabled:opacity-50 capitalize transition-colors duration-300 ease-in-out;
}

.button-warning {
    @apply rounded-md bg-yellow-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-yellow-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus-visible:outline dark:focus-visible:outline-2 dark:focus-visible:outline-offset-2 dark:focus-visible:outline-yellow-500 disabled:opacity-50 capitalize transition-colors duration-300 ease-in-out;
}

.button-alt {
    @apply disabled:opacity-50 disabled:cursor-default  inline-flex items-center px-4 py-2 border border-sky-500 dark:border-sky-400 text-center text-xs font-semibold rounded-md text-sky-500 dark:text-sky-500 bg-transparent dark:bg-transparent hover:text-sky-600 hover:bg-sky-100 dark:hover:bg-sky-100 dark:hover:text-sky-700  dark:focus:outline-none focus:outline-none focus:ring-1 focus:ring-sky-400  dark:focus:ring-sky-200 capitalize;
}

.link {
    @apply text-xs rounded font-extrabold tracking-tight uppercase text-sky-700 hover:text-sky-800 dark:hover:text-sky-500 dark:text-sky-600 hover:underline-offset-1 hover:underline transition-all duration-100 ease-in-out;
}

.link-sm {
    @apply text-sm rounded font-extrabold tracking-tight uppercase text-sky-700 hover:text-sky-800 dark:hover:text-sky-500 dark:text-sky-600 hover:underline-offset-1 hover:underline transition-all duration-100 ease-in-out;
}


.link-alt {
    @apply text-rose-500 hover:text-rose-500 text-xs capitalize font-bold hover:underline hover:underline-offset-4 focus:underline focus:underline-offset-2 focus:outline-none
}
